<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Whitelabel Frame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="glowy-frame" data-token="9137b9ce-f484-4cf9-a44f-ac40d5a9e10f"></div>
  </body>
</html>