<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Whitelabel Frame</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="header"></header>
  <div class="vtex-product-context-provider">
    <div class="flex">
    </div>
  </div>
</body>
</html>